.card {
  height: 200px;
  width: 200px;
  position: relative;
  box-shadow: 0 1px 5px #00000099;
}

.card {
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.card img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
  background-color: #5f0081b9;
  max-width: 100%;
  max-height: 100%;
}
.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
  padding: 10px;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  height: 200px;
  width: 200px;
  object-fit: cover;
  background-color: #5f0081b9;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
